<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-start">Empleados</h5>
        </div>
        <h5>Total trabajadores: 55</h5>
        <canvas id="chart1" class="p-3"></canvas>
    </div>
</div>
<div class="col-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-start">Asistencia de la ultima semana</h5>
        </div>
        <canvas id="chart2" class="p-3"></canvas>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-start">Actividades</h5>
        </div>
        <ul class="list-group list-group-flush text-start">
            <li class="list-group-item"><span class="badge bg-danger">Urgente</span>Revision de
                oficinas</li>
            <li class="list-group-item"><span class="badge bg-primary">Nueva</span> Pruebas de covid
                a empleados</li>
            <li class="list-group-item"><span class="badge bg-warning">Vencido</span> Pruebas
                unitarias</li>
        </ul>
    </div>
</div>