<div class="col-4">
    <div class="card">
        <img src="https://github.com/mdo.png" class="card-img-top profile-picture" alt="Profile Picture">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Ver empleado</a>
        </div>
      </div>
</div>
<div class="col-4">
    <form>
        <fieldset disabled>
          <legend>Informacion Personal</legend>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Nombre</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Panfilo Perez">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Correo</label>
            <input type="email" id="disabledTextInput" class="form-control" placeholder="panfilo@perez.com">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Contrasena</label>
            <input type="password" id="disabledTextInput" class="form-control" placeholder="">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Confirmar contrasena</label>
            <input type="password" id="disabledTextInput" class="form-control" placeholder="">
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Editar</button>
      </form>
</div>
